

body{
  width: 100%;
  max-width: 100%;
}
div.main_div{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 5%;
}



      

/*テーブルエリア*/

    table{
      margin-top: 30px;
      width: 50%;
      border-collapse: collapse;
    }

    table .column_title{
      width: 100%;
      height: auto;
      background-color: cadetblue;
      
    }
    th , td ,tr {
      padding: 1em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      text-align: center;
    }

