@charset "utf-8";


body{
  width: 400px;
}



/*=========================
    header-class
============================*/
      .header{
        width:100% ;
        height: 100px;
        background-color: #141f40;
        padding: 0 20px 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }/*header*/

      .header ul{
        width: 160px;
        height: 60px;
        background-color: #ffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }/*ul*/  

      ul li{
        width: 40px;
        height: 40px;
        background-color: #a9004b;
      }/*li*/

/*=========================
    footer-class
============================*/
  .footer{
        width:100% ;

        height: 100px;
        background-color: #d98d30;
          }




/*=========================
    main-class
============================*/


      .main{
        width: 100%;
        height: 250px;
        display: flex;
      }
      .main .left{
        width: 150px;
        height: 100%;
        background-color:#80bfa8;
          
      }/*.main .left*/


      /*===========================
          right-
      ============================*/
      .main .right{
        width: 250px;
        height:100%;
        padding: 40px 60px 40px 40px;
        background-color:#8c2727;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }/*.main .right*/

      .right .right-box{
        width: 140px;
        height: 40px;
        background-color: #ff863f;
        border: solid 5px #fff;
      }

      

      



