@charset "utf-8";

/*================================
        767px以下の記述
 ===============================*/

@media only screen and (max-width: 767px){
  .header{
    width: 250px;
  }

  .main .right{
    width: 100px;
  }

  .footer{
    width: 250px;
  }

}


/*================================
        479px以下の記述
 ===============================*/
@media only screen and (max-width: 479px){
  .header{
    width: 150px;
  }

  .footer{
    width: 150px;
  }

  .main .left{
    float: none;
  }

  .main .right{
    float: none;
    width: 150px;
  }

  .clearfix::after{
    display: none;
  }

}